
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.exp-icon{
			height: 170px;
			width: 170px;
			margin: 1px;
			transition: all .25s ease-in;
}
img {
	height: 612px;
	width: 600px;
}
@font-face {
    font-family: Montserrat-UltraLight;
    src: url("../fonts/Montserrat-UltraLight.otf");
}

.section {
	width: 50%;
}

@media (max-width: 832px) {
	.section{
		width: 100%;
	}
}

#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 35px;
text-align: center;
padding-top: 15px;
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}
#navigation a {
font-size: 14px;
padding-left: 15px;
padding-right: 15px;
color: white;
text-decoration: none;
}

#navigation a:hover {
color: grey;
}

/*
.active{
	background: rgba(255,255,255,.4) !important;
}
*/

.name{
	margin: auto;
	display: table;
	text-align: center;
}

h1{
	font-family: Montserrat-UltraLight, 'Lato', sans-serif;
	font-size: 34px;
	font-weight: 100;
	text-transform: uppercase;
	display: table-cell;
	vertical-align: middle;
}

h2{
	font-family: 'Lato', sans-serif;
	font-size: 14.5px;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	margin-top: -3px;
	text-align: center;

}


.fullscreen {
	width: 100% !important;
}


.center {
position: relative;
left: 48%;
bottom: 30%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
}


.section-header {
font-family: 'Museo Sans 500', sans-serif;
font-size: 32px; font-weight: 500;
color: #CCCCCC;
margin-right: 20px; margin-left: 20px;
float: right;
}

.section-header:hover {
	text-decoration: none; color: #CCFCCF;
}

.section-title { padding-top: 1.2em;
	color: #666666;
	font-family: Montserrat-UltraLight, 'Lato', sans-serif;
	font-size: 34px;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3.5px;
	margin-top: -3px;
}


.about-text-wrap {
    margin-bottom: 100%;
    margin-right: 10%;
    margin-left: 10%;
}

.content-left{
	position: relative;
	left: 30%;
}


.content-right{
	right: -50%;
	position: relative;
}

.design-hover-title { font-size: 1.7em;
					font-family: 'Museo Sans 500', sans-serif;
					font-weight: 400;
					line-height: 50px;
					letter-spacing: -1px;
					color: white;
					padding-top: 10px; }

.design-hover-subtitle { font-size: 1.3em;
						line-height: 40px;
						letter-spacing: -1px;
						color: white;
						padding-bottom: 10px; }

.design-title:hover {
	opacity: 1;
}

.design-wrapper { position: relative;
				padding: 0;
				display: block; }

.design-title { width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				color: white;
				text-align: center;
				z-index: 10;
				opacity: 0;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				transition: all 0.3s ease;
				transition: 0.3s; }


.about-section { min-height: 80vh;
				padding-top: 3em;
				padding-bottom: 30px; }

.about-text { color: #828282;
			font-size: 0.9em; }

.about-season { color: #FFCC66;
				font-size: 1.2em;
				font-family: 'Museo Sans 500', sans-serif;
				font-weight: 400;
				margin: 0;
				margin-top: 0.5em;
				margin-bottom: -0.3em;
			}

.about-title { color: #828282;
			   font-size: 0.8em;
			   font-weight: 300;
			   margin: 0;
			   margin-top: -0.3em;
			 }


.icon{
			height: 70px;
			width: 70px;
			margin: 1px;
			transition: all .25s ease-in;
}
.icon:hover{
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
